@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

:root{
  --a0-primary-color: #00f7dd;
  --a1-primary-color: #50bbf9;
  --a2-primary-color: #1f9684;
  --a3-primary-color: #14534a;
  --a4-primary-color: #06352e;


  --a0-surface-color: #121212;
  --a1-surface-color: #131113;
  --a2-surface-color: #632563;
  --a3-surface-color: #b173b1;
  --a4-surface-color: #c4b5c4;
  
  
  --pressed-color: #00b2ab;
 
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  
}

body{
  box-sizing: border-box;
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
}